@import "../../global.scss";

.search-page-root {
    @include center-content();
    height: 100%;
    background: linear-gradient(45deg, $gradient-begin-color, 35%, $gradient-end-color);

    .search-panel {
        @include center-content();
        flex-direction: column;
        color: $text-color;
        padding: 0 20px 50px;

        h1 {
            font-weight: 600;
            span {
                font-weight: 300;
            }
        }

        input {
            @include input-layout(100%);
            padding: 8px 13px;
            font-size: 15px;
        }

        a {
            text-decoration: none;
        }

        button {
            border-radius: 6px;
            margin-top: 15px;
            @include button-layout();
            a {
                padding: 6px;
                padding-right: 10px;
            }
        }
    }
}
